<nav>
  <div class="nav-wrapper blue">
    <ul id="nav-mobile" class="left">
      <li *ngIf="auth.authenticated()" linkActive="active"><a [linkTo]="'/hotels'">Hotels</a></li>
      <li *ngIf="auth.authenticated()" linkActive="active"><a [linkTo]="'/camps'">Camps</a></li>
      <li *ngIf="auth.authenticated()" linkActive="active"><a [linkTo]="'/mailtemplates'">Mail templates</a></li>
    </ul>
    <a href="#" class="brand-logo center">ng-camp</a>
    <ul class="right">
      <li *ngIf="!auth.authenticated()" linkActive="active"><a [linkTo]="'/login'">Login</a></li>
      <li *ngIf="auth.authenticated()" linkActive="active">
        <a class="dropdown-button" href="#!" data-activates="user-dropdown" materialize="dropdown">
          <i class="material-icons left">perm_identity</i>{{ username }}
        </a>
        <ul id="user-dropdown" class="dropdown-content">
          <span class="teal-text"><i class="material-icons left" style="padding-left:16px;">perm_identity</i>{{ username }}</span>
          <li class="divider"></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
