<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo center">ng-camp</a>
    <span class="brand-logo right">Logged in as: {{ username }}</span>
    <ul id="nav-mobile" class="left">
      <li *ngIf="auth.authenticated()" linkActive="active"><a [linkTo]="'/hotels'">Hotels</a></li>
      <li *ngIf="auth.authenticated()" linkActive="active"><a [linkTo]="'/camps'">Camps</a></li>
      <li *ngIf="!auth.authenticated()" linkActive="active"><a [linkTo]="'/login'">Login</a></li>
      <li *ngIf="auth.authenticated()"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
