<!-- not supported yet
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Template parameters</span>

        <div class="row">
          <form materialize class="col s12" #mailTemplateForm="ngForm">
            <div class="row">
              <div class="input-field col s6">
                <select [(ngModel)]="selectedOption" materialize="material_select"
                        [materializeSelectOptions]="selectOptions">
                  <option value="" disabled selected>Choose camp</option>
                  <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
                </select>
                <label>Choose a camp</label>
              </div>
            </div>

            <div class="row">
              <div class="col s6">
                <label for="fromDate">From</label>
                <input id="fromDate"
                       materialize="pickadate"
                       [materializeParams]="[{selectMonths: true, selectYears: 15}]"
                       type="text"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Templates</span>

        <div class="row">
          <form materialize class="col s12" #mailTemplateForm="ngForm">
            <div class="row">
              <div *ngIf="!isNewTemplate" class="input-field col s6">
                <select [(ngModel)]="mailTemplateId" materialize="material_select"
                        [materializeSelectOptions]="mailTemplates" (change)="onChange($event.target.value)">
                  <option *ngFor="let mailTemplate of mailTemplates" [value]="mailTemplate.id">{{mailTemplate.name}}</option>
                </select>
                <label>Template</label>
              </div>

              <div *ngIf="isNewTemplate" class="input-field col s6">
                <input [(ngModel)]="mailTemplate.name" id="templateName" type="text" class="validate" >
                <label for="templateName">New template name</label>
              </div>

              <div class="col s6">
                <button class="btn-floating btn-large waves-effect waves-light red" (click)="deleteTemplate()"><i class="material-icons">delete</i></button>
                <button class="btn-floating btn-large waves-effect waves-light blue" (click)="saveTemplate()"
                   [ngClass]="{disabled: !isNewTemplate}"
                   [disabled]="!isNewTemplate">
                  <i class="material-icons">done</i>
                </button>
                <button class="btn-floating btn-large waves-effect waves-light blue" (click)="addTemplate()"
                   [ngClass]="{disabled: isNewTemplate}"
                   [disabled]="isNewTemplate">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea [(ngModel)]="mailTemplate.text" id="templateText" class="materialize-textarea" (change)="onTemplateChange()"></textarea>
                <label for="templateText">Template text</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
