<div class="row" *ngIf="offerRequest">
  <form materialize class="col s12" (ngSubmit)="saveOfferRequest.emit(offerRequest)" #offerRequestForm="ngForm">
    <div class="row">
      <div class="col s3">
        <input id="requestDate" type="date" class="validate" required [(ngModel)]="offerRequest.date">
        <label for="requestDate">Request date</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <select id="requestStatus" materialize="material_select" [materializeSelectOptions]="requestStatusList"
                [(ngModel)]="offerRequest.status" (change)="statusChanged($event)">
          <option *ngFor="let status of requestStatusList" [value]="status" [selected]="requestStatus === offerRequest.status">{{status}}</option>
        </select>
        <label for="requestStatus">Request status</label>
      </div>
      <div class="col s3">
        <input id="lastStatusChangeDate" disabled [ngModel]="offerRequest.lastStatusChange | date">
        <label for="lastStatusChangeDate">last status change</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select id="hotel" materialize="material_select" [materializeSelectOptions]="hotels" required
                [(ngModel)]="offerRequest.hotel" >
          <option *ngIf="!offerRequest.hotel" value="" disabled selected>Select hotel</option>
          <option *ngFor="let hotel of hotels" [selected]="offerRequest.hotel && hotel.id === offerRequest.hotel.id" [ngValue]="hotel">{{hotel.name}} - {{hotel.city}}, {{hotel.countryCode}}</option>
        </select>
        <label for="hotel">Hotel</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s8">
        <textarea name="comment" id="comment" cols="30" rows="10" class="materialize-textarea"
        [(ngModel)]="offerRequest.comment"></textarea>
        <label for="comment">Comment</label>
      </div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action"
              [ngClass]="{disabled: !offerRequestForm.valid}"
              [disabled]="!offerRequestForm.valid">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
