<form>
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped bordered">
        <thead>
        <tr>
          <th>Hotel</th>
          <th>Location</th>
          <th>Date from</th>
          <th>Date to</th>
          <th>Status</th>
          <th>Offer</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offerRequest of camp.offerRequests">
          <td>{{offerRequest.hotel.name}}</td>
          <td>{{offerRequest.hotel.city}}, {{offerRequest.hotel.countryCode}}</td>
          <td>{{camp.fromDate | date}}</td>
          <td>{{camp.toDate | date}}</td>
          <td>{{offerRequest.status}}</td>
          <td><span *ngIf="offerRequest.offer">{{offerRequest.offer.currency}} {{offerRequest.offer.totalPrice}}</span></td>
          <td>
            <a class="btn-floating waves-effect waves-light modal-trigger" href="#mailtemplate" materialize="leanModal"><i class="material-icons">mail_outline</i></a>
            <a class="btn-floating waves-effect waves-light modal-trigger" href="#add-offer" materialize="leanModal"><i class="material-icons">note_add</i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>

</form>

<div id="mailtemplate" class="modal modal-fixed-footer">
  <div class="modal-content">
    <mail-templates></mail-templates>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
  </div>
</div>
<div id="add-offer" class="modal modal-fixed-footer">
  <div class="modal-content">
    <offer-edit [offer]="{}"></offer-edit>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-light btn">Save</a>
    <a class="modal-action modal-close waves-effect waves-teal btn-flat">Cancel</a>
  </div>
</div>
