<form>
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped bordered">
        <thead>
        <tr>
          <th>Hotel</th>
          <th>Location</th>
          <th>Date from</th>
          <th>Date to</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offerRequest of camp.offerRequests">
          <td>{{offerRequest.hotel.name}}</td>
          <td>{{offerRequest.hotel.city}}, {{offerRequest.hotel.countryCode}}</td>
          <td>{{camp.fromDate}}</td>
          <td>{{camp.toDate}}</td>
          <td>{{camp.status}}</td>
          <td><button class="btn-floating waves-effect waves-light"><i class="material-icons">mail_outline</i></button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      TODO: mail-button above should create mail template in a popup (?) (re-use &lt;mailtemplate>-directive!)
    </div>
  </div>

</form>
