<sebm-google-map [latitude]="47.5797815" [longitude]="8.183049">
  <sebm-google-map-marker
    *ngFor="let hotelWithCoordinate of hotelsWithCoordinates"
    [latitude]="hotelWithCoordinate.coordinate.lat"
    [longitude]="hotelWithCoordinate.coordinate.lng"
    [markerDraggable]="true">

    <sebm-google-map-info-window>
      <strong><a [linkTo]="'/hotels/' + hotelWithCoordinate.hotel.id">{{hotelWithCoordinate.hotel.name}}</a></strong>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>
</sebm-google-map>

