<form>
  <div class="row">
    <div class="input-field col s3">
      <a id="camp_hotelDoodle" class="btn waves-effect waves-light" [href]="'http://doodle.com/create?type=text&locale=en&title=' + camp.name + '&name=' + camp.organizer + '&option1=Lasagne&option2=Pasta&option3=Pizza&option4=Polenta'" target="_blank">
        <i class="material-icons right">open_in_new</i>Create Doodle
      </a>
      <label for="camp_hotelDoodle" [class.active]="true">Find a Hotel</label>
    </div>
    <div class="input-field col s3">

    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <i class="material-icons left">visibility</i>
        Add a Button to download an .ics file to replace the camp blocker with a definitive calendar entry.
      </div>
    </div>
  </div>

</form>
