<div class="row">
  <h1>{{camp.name}}</h1>
  <h5>Status: {{camp.status}}</h5>
  <h5>Number of people: {{camp.numberOfPeople}}</h5>
</div>

<div class="row">
  <table class="responsive-table striped bordered">
    <thead>
    <tr>
      <th>Offer date</th>
      <th>Status</th>
      <th>Hotel</th>
      <th>City</th>
      <th>Country</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offerRequest of camp.offerRequests">
      <td>{{offerRequest.date | date}}</td>
      <td><div class="chip light-blue accent-1">{{offerRequest.status}}</div></td>
      <td>{{offerRequest.offer.hotel.name}}</td>
      <td>{{offerRequest.offer.hotel.city}}</td>
      <td>{{offerRequest.offer.hotel.countryCode}}</td>
      <td>{{offerRequest.comment}}</td>
      <td><a [linkTo]="'/offers/edit/' + offerRequest.offer.id">
        <i class="material-icons">mode_edit</i>
      </a></td>
    </tr>
  </table>
</div>

<div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 45px;">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a [linkTo]="'/camps/' + camp.id + '/offer-requests/new'" class="btn-floating green"><i class="material-icons">note_add</i></a></li>
    <li><a [linkTo]="'/camps/edit/' + camp.id" class="btn-floating blue"><i class="material-icons">mode_edit</i></a></li>
  </ul>
</div>
