<div class="row">
  <h1>{{camp.name}}</h1>
  <h5>Status: {{camp.status}}</h5>
  <h5>Number of people: {{camp.numberOfPeople}}</h5>
</div>

<div class="row">
  <table class="responsive-table striped bordered">
    <thead>
    <tr>
      <th>Offer date</th>
      <th>Status</th>
      <th>Hotel</th>
      <th>City</th>
      <th>Country</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offerRequest of camp.offerRequests">
      <td>{{offerRequest.date | date}}</td>
      <td><div class="chip light-blue accent-1">{{offerRequest.status}}</div></td>
      <td>{{offerRequest.offer.hotel.name}}</td>
      <td>{{offerRequest.offer.hotel.city}}</td>
      <td>{{offerRequest.offer.hotel.countryCode}}</td>
      <td>{{offerRequest.comment}}</td>
    </tr>
  </table>
</div>
