<div class="row" *ngIf="camp">
  <div class="row">
    <h2>{{camp.name}}</h2>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Infos</span>
          <p>Current status: {{camp.status}}</p>
          <p>{{camp.numberOfPeople}} people</p>
          <p *ngIf="camp.fromDate && camp.toDate">From {{camp.fromDate}} to {{camp.toDate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12" *ngIf="!camp.fromDate || !camp.toDate">
      <div class="card-panel yellow accent-1">
        <span>
          Your camp does not have a fixed date yet. Want to <a
          [href]="'http://doodle.com/create?type=date&locale=de&title=' + camp.name" target="_blank">create a Doodle</a> for it?
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="responsive-table striped bordered">
      <thead>
      <tr>
        <th>Offer date</th>
        <th>Status</th>
        <th>Hotel</th>
        <th>City</th>
        <th>Country</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offerRequest of camp.offerRequests">
        <td>{{offerRequest.date | date}}</td>
        <td>
          <div class="chip" [ngClass]="getStatusColor(offerRequest.status)">{{offerRequest.status}}</div>
        </td>
        <td>{{offerRequest.offer.hotel.name}}</td>
        <td>{{offerRequest.offer.hotel.city}}</td>
        <td>{{offerRequest.offer.hotel.countryCode}}</td>
        <td>{{offerRequest.comment}}</td>
        <td><a [linkTo]="'/offers/edit/' + offerRequest.offer.id  + '?hotelId=' + offerRequest.offer.hotel.id">
          <i class="material-icons">mode_edit</i>
        </a></td>
      </tr>
    </table>
  </div>

  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 45px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li materialize="tooltip" data-position="left" data-delay="0" data-tooltip="Add offer request">
        <a [linkTo]="'/camps/' + camp.id + '/offer-requests/new'" class="btn-floating green">
          <i class="material-icons">note_add</i>
        </a>
      </li>
      <li materialize="tooltip" data-position="left" data-delay="0" data-tooltip="Edit camp">
        <a [linkTo]="'/camps/edit/' + camp.id" class="btn-floating blue">
          <i class="material-icons">mode_edit</i>
        </a>
      </li>
    </ul>
  </div>
</div>
