<div materialize class="fixed-action-btn" style="bottom: 45px; right: 45px;">
  <a class="btn-floating btn-large waves-effect waves-light red" style="margin-left: 10px; "
     data-tooltip="New Hotel" materialize="tooltip"
     data-position="left" data-delay="0"
     routerLink="new">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="input-field col m6">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" class="validate" (keyup)="hotelFilterChanged($event)">
    <label for="icon_prefix">Search by name, desc or city</label>
  </div>

    <div class="input-field col m6">
      <select multiple materialize="material_select" [materializeSelectOptions]="countryCodes | async"
              (change)="countrySelectionChanged($event.target.options)">
        <option value="" disabled selected>Choose countries</option>
        <option *ngFor="let country of (countryCodes | async)" [value]="country">{{country}}</option>
      </select>
      <label>Countries</label>
    </div>
</div>


<div class="row">
  <div class="col m12">
    <ul class="tabs card" materialize="tabs">
      <li class="tab col m3"><a class="active blue-text" href="#mapView">Map view</a></li>
      <li class="tab col m3"><a class="blue-text" href="#tableView">Table view</a></li>
      <div class="indicator blue" style="z-index:1"></div>
    </ul>
  </div>
</div>
<div class="row" *ngIf="hotelsFiltered">
  <div id="mapView" class="col s12">
    <div class="card">
      <hotels-map [hotels]="hotelsFiltered | async"></hotels-map>
    </div>
  </div>
  <div id="tableView" class="col s12">
    <div class="card">
      <hotels-table [hotels]="hotelsFiltered | async"></hotels-table>
    </div>
  </div>
</div>
