<div class="row" *ngIf="offer">
  <h2>Offer for {{offer.hotel.name}}</h2>
  <form materialize class="col s12" (ngSubmit)="saveOffer()" #offerForm="ngForm">

    <div class="row">
      <div class="col s6">
        <label for="offerDate">Offer date</label>
        <input id="offerDate"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15}]"
               [(ngModel)]="offer.offerDate"
               type="text"/>
      </div>
      <div class="col s6">
        <label for="expirationDate">Offer expiration date</label>
        <input id="expirationDate"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15}]"
               [(ngModel)]="offer.expirationDate"
               type="text"/>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <label for="fromDate">Camp from</label>
        <input id="fromDate"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15}]"
               [(ngModel)]="offer.fromDate"
               type="text"/>
      </div>
      <div class="col s6">
        <label for="toDate">Camp to</label>
        <input id="toDate"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 15}]"
               [(ngModel)]="offer.toDate"
               type="text"/>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <label for="people">Number of people - {{offer.numberOfPeople}}</label>
        <p class="range-field">
          <input type="range" id="people" min="1" max="100" [(ngModel)]="offer.numberOfPeople"/>
        </p>
      </div>
      <div class="col s6">
        <label for="singleRooms">Number of single rooms - {{offer.singleRooms}}</label>
        <p class="range-field">
          <input type="range" id="singleRooms" min="1" max="100" [(ngModel)]="offer.singleRooms"/>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <label for="doubleRooms">Number of double rooms - {{offer.doubleRooms}}</label>
        <p class="range-field">
          <input type="range" id="doubleRooms" min="1" max="100" [(ngModel)]="offer.doubleRooms"/>
        </p>
      </div>
      <div class="col s6">
        <input type="checkbox" id="accepted" [(ngModel)]="offer.accepted"/>
        <label for="accepted">Offer accepted</label>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <label for="totalPrice">Total price</label>
        <input type="text" id="totalPrice" [(ngModel)]="offer.totalPrice"/>
      </div>
      <div class="col s6">
        <label for="currency">Currency</label>
        <input type="text" id="currency" [(ngModel)]="offer.currency"/>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" [(ngModel)]="offer.description"></textarea>
        <label for="description">Description</label>
      </div>
    </div>

    <!--accepted?: boolean;-->
    <!--currency?: Currency;-->
    <!--description?: string;-->
    <!--doubleRooms?: number;-->
    <!--expirationDate?: Date;-->
    <!--fromDate?: Date;-->
    <!--hotel?: Hotel;-->
    <!--id?: number;-->
    <!--numberOfPeople?: number;-->
    <!--offerDate?: Date;-->
    <!--singleRooms?: number;-->
    <!--toDate?: Date;-->
    <!--totalPrice?: number;-->
    <!--userId?: string;-->

    <div class="row">
      <button class="btn waves-effect waves-light blue" type="submit" name="action"
              [ngClass]="{disabled: !offerForm.valid}"
              [disabled]="!offerForm.valid">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
