<h1>DEPRECATED - should be replaced entirely by hotel-edit component!</h1>
<div class="row">
  <form materialize class="col s12" (ngSubmit)="saveHotel()" #hotelForm="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="hotelName" type="text" class="form-control" required
               [(ngModel)]="hotel.name" ngControl="name" #name="ngForm" [class.invalid]="!name.valid && name.touched">
        <label for="hotelName" [class.active]="hotel.name" data-error="required field">Name</label>
      </div>
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" [(ngModel)]="hotel.contactEmail">
        <label for="email" [class.active]="hotel.contactEmail">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="website" type="text" class="validate" [(ngModel)]="hotel.website">
        <label for="website" [class.active]="hotel.website">Website</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="pictureUrl" type="url" class="validate" [(ngModel)]="hotel.pictureUrl">
        <label for="pictureUrl" [class.active]="hotel.pictureUrl">Picture Url</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" [(ngModel)]="hotel.description"></textarea>
        <label for="description" [class.active]="hotel.description">Description</label>
      </div>
    </div>


      <!-- Adresss block -->
    <div class="section">
      <h5>Address</h5>
      <div class="row">
        <div class="input-field col s10">
          <input id="street" type="text" class="validate" [(ngModel)]="hotel.street">
          <label for="street" [class.active]="hotel.street">Street</label>
        </div>
        <div class="input-field col s2">
          <input id="streetNumber" type="text" class="validate" [(ngModel)]="hotel.streetNumber">
          <label for="streetNumber" [class.active]="hotel.streetNumber">Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input id="zipCode" type="text" class="validate" [(ngModel)]="hotel.zipCode">
          <label for="zipCode" [class.active]="hotel.zipCode">Zip code</label>
        </div>

        <div class="input-field col s8">
          <input id="city" type="text" required
                 [(ngModel)]="hotel.city" ngControl="city" #city="ngForm" [class.invalid]="!city.valid && city.touched">
          <label for="city" [class.active]="hotel.city" data-error="required field">City</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <select materialize="material_select" [materializeSelectOptions]="countries" required
                  [(ngModel)]="hotel.countryCode" ngControl="countryCode" #countryCode="ngForm" >
            <option value="" disabled selected>Select country</option>
            <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
          </select>
          <label>Country</label>
        </div>
      </div>
    </div>

    <div class="section">
      <h5>External information</h5>
      <div class="row">
        <div class="input-field col s6">
          <input id="tripAdvisorUrl" type="url" class="validate" [(ngModel)]="hotel.tripAdvisorUrl">
          <label for="tripAdvisorUrl" [class.active]="hotel.tripAdvisorUrl">Trip Advisor</label>
        </div>
        <div class="input-field col s6">
          <input id="holidayCheckUrl" type="url" class="validate" [(ngModel)]="hotel.holidayCheckUrl">
          <label for="holidayCheckUrl" [class.active]="hotel.holidayCheckUrl">Holiday check</label>
        </div>
      </div>
    </div>


    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action"
              [ngClass]="{disabled: !hotelForm.valid}"
              [disabled]="!hotelForm.valid">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
