<h1>Camps</h1>
<div class="col m10">
  <table class="responsive-table highlight">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Date from</th>
      <th>Date to</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let camp of camps" [linkTo]="'/camps/' + camp.id" style="cursor: pointer;">
      <td><a [linkTo]="'/camps/' + camp.id">{{camp.name}}</a></td>
      <td>{{camp.status}}</td>
      <td>{{camp.fromDate | date}}</td>
      <td>{{camp.toDate | date}}</td>
    </tr>
  </table>
</div>

<div materialize class="fixed-action-btn" style="bottom: 45px; right: 45px;" >
    <a data-tooltip="New Camp" materialize="tooltip"
       data-position="left" data-delay="0" class="btn-floating btn-large waves-effect waves-light red" linkTo="/camps/edit/new">
      <i class="material-icons">add</i>
    </a>
</div>
